<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie Drum &amp; bass</title>
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
  <link rel="icon" href="/images/favicon.png" type="image/x-icon">
  <link rel='stylesheet' href='/stylesheets/style.css'>
</head>
<body>
  <article>
    
  <h1><a id="title" href="/">Internet Movie Drum &amp; bass &#x1F3A5</a></h1>
  <form action="/results">
    <input type="text" placeholder="enter movie title" name="search">
    <button>Search</button>
  </form>

  <%= yield %>
  </article>

</body>
</html>