<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="main.css">
  <style>
    body {background-color: <%= randomCol %>;}
  </style>
</head>
<body>
  <div class="content">
    <h1>Hey <%= person %>! <%= randomComp %></h1>
    <a href="/">Keep 'em coming!</a>
  </div>
</body>
</html>
  