<h1>Add new pokemon</h1>

<div class="new-poke-form">
  <form action="/pokemons" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="">Species</label>
    <input type="text" name="species">
    <label for="">Nickname</label>
    <input type="text" name="nickname">
    <label for="">Level</label>
    <input type="number" min="1" max="99" value="1" name="level">
    <button>add</button>
  </form>
</div>

<div class="container">
  
</div>

<script
  src="http://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous">  
</script>

<script>

  var count = 1;

  while(count < 11){
    

    var options = {
      url: 'https://pokeapi.co/api/v2/pokemon/' + count +'/',
      method: 'get'
    };

    $.ajax(options).done(function(response){
      // console.log(response.sprites.front_default);
      var pokeImage = response.sprites.front_default;
      var newPoster = $('<img>').attr('src', pokeImage);
      $('.container').append(newPoster);
    });
    count++;
  }
</script>




