<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h2>ABOUT</h2>
  <p>Web page created by Alex Shopov</p>
  <p>Data obtained using Google Finance API, more info <a href="https://github.com/tyrauber/stock_quote">here</a>.</p>
  <p><a href="/?stock=amzn">BACK</a> to stock page</p>
</body>
</html>